<nav mat-tab-nav-bar [backgroundColor]="myColor">
    <a mat-tab-link *ngFor="let link of links; index as i"
       [href]="link"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{titles[i]}} </a>
  </nav> 
<!-- <h3>Bulk Entry</h3>
<div *ngIf="entryType=='be'">
    <form [formGroup]="fileUploadForm" (ngSubmit)="onBulkFormSubmit()">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h6 class="head-title margin-top-8"><span>UPLOAD</span></h6>
                </div>
            </div>

            <div class="col-sm-6 text-center">

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="myfile"
                        (change)="onFileSelect($event)" #UploadFileInput>
                    <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                </div>

            </div>
            <div class="col-sm-6 text-center">
                <button class="btn btn-primary" type="submit">Upload</button>
            </div>
        </div>
    </form>
</div> -->